@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  background-image: url("./images/multi038.jpg");
  background-repeat: repeat;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
